.popup__input-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  max-width: 358px;
  margin: 0 auto;
  border: 0;
}

@media screen and (max-width: 600px) {
  .popup__input-items {
    max-width: 238px;
  }
}
