.header__logo {
  max-width: 142px;
  min-height: 33px;
  padding-bottom: 37.271px;
}

@media screen and (max-width: 879px) {
  .header__logo {
    margin-left: 27px;
    max-width: 103.74px;
    min-height: 24.4px;
    padding-bottom: 27.881px;
  }
}
