.header {
  margin-top: 45px;
  margin-bottom: 40px;
  min-height: 74px;
  width: 100%;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 45px;
    margin-bottom: 42px;
    min-height: 56px;
  }
}
