.profile-info__edit-button {
  background: url('../../../images/Edit\ Button.svg');
  background-color: black;
  border: 1px white solid;
  width: 24px;
  height: 24px;
  background-position: center;
  padding: 0;

}

.profile-info__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile-info__edit-button {
    width: 18px;
    height: 18px;
    justify-self: start;
    /* margin-left: 10px;
    margin-bottom: 26px; */
  }
}