.profile-info {
  display: grid;
  grid-template-columns: 297px 24px;
  min-height: 73px;
  max-width: 336px;
  column-gap: 15px;
  row-gap: 6px;
  align-items: center;
  
}

@media screen and (max-width: 320px) {
  .profile-info {
    grid-template-columns: 189px 18px;
    min-height: 54px;
    max-width: 282px;
    column-gap: 10px;
    row-gap: 14px;
  }
}